@charset 'UTF-8';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

    background-color: #D3CDED;
}

div.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.headmarker{
    font-weight: bold;
    padding: 0;
    width: 500px;
    height: 20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

p.question_line{
    font-weight: bold;
    padding: 0;
    width: 500px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

p.question_line span{
    width: 100%;
    display: flex;
    flex-direction: row;
}

p.question_line.radio{
    font-weight: normal;
    font-size: 13px;
    text-align: justify;
    align-items: flex-start;
    background-color: #F1F0F7;
    padding:5px;
    border-radius: 10px;
    width: 97%;

}

p.question_line.col{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align:left;
}
p.question_line.col input{
    width: 50%;
}
div.Table_container{
    background-color: #F1F0F7;
    border-radius: 30px;
    padding: 25px;
    margin: 10px;
}

p.question_line.radio  span{
    margin-left:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.question_line.s8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.question_line.s8 div{
    margin-left: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
}

.headmarker.s1{
    width: 100%;
}

p.obs{
    font-size: 12px;
    color: red;
}

input{
    margin:10px;
    background-color: #F7F1F8;
}

textarea{
    margin:10px;
    background-color: #F7F1F8;
    height: 75px;
    width: 500px; 
    resize:none;
}
input[type="date"]{
    border:none;
    border-bottom: 1px solid black;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}
input[type="text"]{
    border:none;
    border-bottom: 1px solid black;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
}

input[type="number"]{
    border:none;
    border-bottom: 1px solid black;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;

    -moz-appearance: textfield;
    appearance: textfield;
}

input [type="radio"], input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

input.long{
    width: 100%;
}

button.btn{
    margin: 20px;
    margin-left: 25%;
    width: 200px;
    height: 50px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 2em;
}

input[type="file"]{
    margin: 20px;
    margin-left: 25%;
    padding: 15px;
    width: 40%;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 0.8em;
    text-align: center;
}
input[type="file"]:hover{
    cursor: pointer;
}
input[type="file"]::file-selector-button{
    padding: 10px;
    font-weight: bold;
    background-color: #D3CDED;
    border: none;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.315);
}
input[type="date"]{
    width: 200px;
}
button.btn:hover{
    cursor: pointer;
}

button.btn:active{
    background-color: white;
    color: black;
}

div.grid{
    display: grid;
    width: 400px;
}

p.Headline{
    font-weight: bold;
}

div.grid_question{
    display: grid;
    width: 500px;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}

td{
    text-align: center;
    margin: 10px;
}

div.box{
    border: 2px solid black;
    padding: 10px;
}

.column{
    display: flex;
    flex-direction: column;
}

div.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.side{
    margin: 0.3%;
}

nav{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}